# Dumps, etc
*.dump

/.build
/boot/
.bscan/

/.vscode/
/.code-workspace

# Local documentation builds
/docs/build/
/docs/live/
/docs/site/
/docs/nbconverted/

/.github/build_new_version/

/manifests/

/.franklin/
/public/
/__build__/
.opt/
.data/

/docs/manifest.toml

/test/manifest.toml

/benchmarks/manifest.toml

/examples/manifest.toml

.prefs/

/LocalPrefs.json
License.txt

/Manifest.toml
/Manifests/
/*.jl.info

/*.jl.memory

.coverage/
*.cov

/buildlog/
*.log

/docs/src/examples/assets/

/.julia/logs/

/*.jl.precompile
