# UID for telemetry
/.uid
in tests folder
/test/manifests/*/Manifest.toml
/test/manifests/*/Project.toml
in docs folder
/docs/build/
/docs/manifests/*/Manifest.toml
/docs/manifests/*/Project.toml
/docs/files.
/docs/literate/
in benchmarks folder
/benchmarks/Manifest.toml
/benchmarks/Project.toml
in paper folder
/paper/paper.pdf
/paper/paper.bbl
/paper/*.aux
/paper/*.toc
/paper/*.log
/paper/*.out
/paper/*.twc
/paper/*.flc
/paper/*.ls
/paper/*.blf
/paper/.bibchecker.tmp
/paper/build/
.CHTex-inputs/
.CHTex-outputs/